/* @font-face {
  font-family: "Inter";
  src: local("Inter"), sans-serif;
}

body {
  font-family: "Inter", system-ui, sans-serif;
} */
html, body {
  font-family: Georgia, 'Times New Roman', serif;
  color: #173743;
}

h1 { font-size: 1.75rem; line-height: 1.2; font-weight: 700; margin-bottom: .5rem; }
h2 { font-size: 1.5rem; line-height: 1.25; font-weight: 700; margin-bottom: .5rem; }
h3 { font-size: 1.25rem; line-height: 1.3; font-weight: 600; margin-bottom: .4rem; }